<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="neldam" />
	<context:spring-configured />

	<!-- <context:spring-configured />
	<bean id="time" class="neldam.time.Time" />
	
	<bean id="stock" class="neldam.stock.Stock">
		<property name="time" ref="time" />
	</bean>



	<bean id="broker" class="neldam.broker.Broker">
		<property name="time" ref="time" />
		<property name="stock" ref="stock" />
	</bean>

	<bean id = "buyAndHold" class = "neldam.strategy.impl.BuyAndHold" > 
		<property name="time" ref="time" /> <property name="stock" ref="stock" /> 
		</bean> -->

</beans>